:root {
  --marrom-escuro: #422020;
  --marrom-medio: #754f4d;
  --rosa-nude: #9b756e;
  --rosa-clarinho: #bda49b;
  --cinza-neutro: #a29a90;
  --marfim: #e9e6df;
  --dourado: #947b50;
  --oliva: #7b745b;
  --oliva-escuro: #433f2a;
  --preto: #0e0e0f;

  --typewriter: "Special Elite";
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: var(--marfim);
  background-image: url("public/paper3.jpg");
  background-size: cover;
  background-blend-mode: multiply;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  padding: 0;
}

.quote,
.name-container,
.hermit-card {
	opacity: 0;
	transition: opacity 0.7s ease;
}

.quote.visible,
.name-container.visible,
.hermit-card.visible {
	opacity: 1;
}

/* quote */

.quote {
  position: absolute;
  left: 150px;
  top: 180px;
  font-family: "Gochi Hand";
  background-color: var(--rosa-clarinho);
  width: 260px;
  height: 220px;
  text-align: center;
  padding: 25px 50px;
  color: var(--preto);
  font-size: 30px;
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.15);
  transform: rotate(-8deg);
}

.quote-text {
  display: none;
}

.quote::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 170px;
  width: 150px;
  height: 40px;
  background-color: var(--dourado);
  transform: rotate(34deg);
  opacity: 0.6;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.quote::after {
  content: "";
  position: absolute;
  bottom: -5px;
  right: 170px;
  width: 160px;
  height: 40px;
  background-color: var(--dourado);
  transform: rotate(38deg);
  opacity: 0.6;
  z-index: 2;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

/* horse */

.horse-container {
  position: absolute;
  display: inline-block;
  top: 480px;
  left: 30px;
  transform: translateX(-800px) scaleX(-1);
  transition: transform 11s ease-out;
}

.horse-container.visible {
  transform: translateX(0px) scaleX(-1);
}

.horse {
  width: 600px;
}

.horse-container::after {
  content: "";
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-60%);
  width: 70%;
  height: 40px;
  background: radial-gradient(ellipse, rgba(0, 0, 0, 0.35) 0%, transparent 75%);
  border-radius: 50%;
  z-index: -1;
  animation: shadow-pulse .90s infinite;
}

@keyframes shadow-pulse {
  0%, 100% { transform: translateX(-50%) scaleX(1); opacity: 1; }
  50% { transform: translateX(-50%) scaleX(0,75); opacity: 0.80; }
}

/* name */
.name-container {
  font-family: "Permanent Marker";
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 85px;
  margin-top: 100px;
}

.name-container div {
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.15));
}

.name-container span {
  margin: 10px 6px;
  padding: 8px 24px;
  display: inline-block;
}

.name-letter-1 {
  background-color: var(--marrom-escuro);
  color: var(--dourado);
  transform: translate(-6px, -10px) rotate(-6deg);
  position: relative;
  top: 5px;
  clip-path: polygon(12% 0%, 88% 0%, 100% 100%, 20% 100%, 0% 80%);
}

.name-letter-2 {
  background-color: var(--rosa-nude);
  color: var(--marrom-escuro);
  transform: translate(6px, 10px) rotate(4deg);
  position: relative;
  top: -8px;
  clip-path: polygon(22% 0%, 100% 0%, 88% 100%, 82% 100%, 0% 100%, 8% 15%);
}

.name-letter-3 {
  background-color: var(--dourado);
  color: var(--preto);
  transform: translate(0px, -10px) rotate(-3deg);
  position: relative;
  top: 3px;
  clip-path: polygon(18% 0%, 100% 0%, 92% 100%, 15% 100%, 0% 85%, 0% 15%);
}

.name-letter-4 {
  background-color: var(--oliva-escuro);
  color: var(--marfim);
  transform: rotate(7deg);
  position: relative;
  top: -4px;
  clip-path: polygon(0% 0%, 85% 0%, 100% 20%, 85% 100%, 15% 100%);
}

/* polaroid */

.polaroid-flip-container {
  cursor: pointer;
  aspect-ratio: 0.83;
  width: 400px;
  perspective: 1000px;
  position: absolute;
  transform: rotate(1deg);
  right: calc(50% - 200px);
  top: calc(50% - 210px + 40px);
  z-index: 1;
}

.polaroid-flip-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.polaroid-flip-container.flipped .polaroid-flip-inner {
  transform: rotateY(180deg);
}

.polaroid-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  background-color: var(--marfim);
  padding: 35px;
  box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.15);
}

.polaroid-back {
  transform: rotateY(180deg);
}

.polaroid-face img {
  width: 100%;
  height: auto;
}

.polaroid-flip-container:hover .heart-wrapper {
  transform: translateY(-5px);
}

.heart-wrapper {
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.15));
  justify-content: center;
  display: flex;
  transition: transform 0.5s;
}

.heart {
  background-size: cover;
  width: 110px;
  height: 110px;

  -webkit-mask-image: url("public/heart.png");
  background-image: url("public/heart.png");
  mask-image: url("public/heart.png");

  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
  background-blend-mode: multiply;
}

.dark-heart {
  transform: translate(5px) rotate(5deg);
  background-color: var(--marrom-medio);
}

.med-heart {
  transform: translate(5px) rotate(5deg);
  background-color: var(--rosa-clarinho);
}

/* the hermit */

.hermit-card {
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.15));
  display: inline-block;
  z-index: 3;
  right: 70px;
  top: 400px;
  position: absolute;
  width: 270px;
  height: 438px;
  transform: rotate(-2deg);
}

.hermit-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--marfim);
  mix-blend-mode: multiply;
  pointer-events: none;

  -webkit-mask-image: url("public/the-hermit.png");
  mask-image: url("public/the-hermit.png");
  -webkit-mask-size: contain;
  mask-size: contain;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-position: center;
  mask-position: center;
}

.hermit-card img {
  position: absolute;
}

.hermit-hand {
  transform-origin: 20% 12%;
  transition: transform .8s ease-in-out;
}

/* song */

.song-container-wrapper {
  transform: translate(-50vw);
  transition: transform 1.5s ease-out;
  position: absolute;
  margin-left: 0;
  bottom: 2em;
  left: -2vw;
  filter: drop-shadow(5px 5px 2px rgba(0, 0, 0, 0.15));
}

.song-container-wrapper.active {
  transform: translate(0);
}

.song-container {
  color: var(--marfim);
  padding: 10px;
  padding-left: calc(20px + 2vw);
  width: calc(400px + 2vw);
  height: 80px;
  background-color: var(--dourado);
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
}

.song-container span {
  font-family: var(--typewriter), system-ui;
}

.song-btn-container {
  display: flex;
  align-items: center;
}

.song-btn {
  color: var(--marfim);
  margin: 0 2px;
}

.song-btn svg {
  width: 22px;
  height: 22px;
}

#pause-icon {
  display: none;
}

/* melon collie */

.melon-collie {
  position: absolute;
  height: 400px;
  top: 0;
  right: 0;
  width: auto;
}

/* pallete */

.color {
  width: 100px;
  height: 100px;
}
.test1 {
  color: white;
  background-color: var(--marrom-escuro);
}
.test2 {
  background-color: var(--marrom-medio);
}
.test3 {
  background-color: var(--rosa-nude);
}
.test4 {
  background-color: var(--rosa-clarinho);
}
.test5 {
  background-color: var(--cinza-neutro);
}
.test6 {
  background-color: var(--marfim);
}
.test7 {
  color: white;
  background-color: var(--dourado);
}
.test8 {
  color: white;
  background-color: var(--oliva);
}
.test9 {
  color: white;
  background-color: var(--oliva-escuro);
}
.test10 {
  color: white;
  background-color: var(--preto);
}
